

.logo  {background-color: white;
    height: 200px;
    background-image:url(../images/Logo.png);
    background-repeat: no-repeat;
    background-position: left; 
          
} 

.center {
  height: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
    
}

.center a {
  color: rgb(0, 83, 94);
  padding: 10px;
  text-decoration: none;
  font-family:gotham;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  max-width: 30%;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;
}

.button1, .button2 {
  background-color: rgb(0, 83, 94);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button1:hover {
  background-color: rgb(193, 216, 47);
}
.button2:hover {
  background-color: rgb(193, 216, 47);
}

.button1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 600%);
}
.button2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1700%);
}
.footer {
  padding: 50px;
  height: 400px;
  display: flex;
  justify-content: right;
  align-items: center;

}
.fb, .in, .ig {
  margin-left: 5px;
  padding: 5px 5px;
  background-color: rgb(71, 71, 71);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: gotham;
  font-weight: regular;
  text-decoration: none;
}